Atomic-Simulation-Environment/
BGlib/
pyTEMlib/
pycroscopy/
DataGenSTEM/
*.npy
*.npz
*.h5
*.dm3
*.pkl
*.hf5
*.tar
*.hdf5
Pycroscopy_custom/FerroicBlocks
**/__pycahce__/
FFTA/
*.ibw
FFTA_custom/perovskite